# Data Science Tools and Ecosystem

In this notebook,we will summarize Data Science Tools and Ecosystem.

**Objectives** :
+ Python
+ R languages
+ Anaconda

Some of the popular languages that Data Scientists use are :
1. Python.
2. R 
3. SQL
4. Scala

Some of the commonly used libraries of Data Scientists are :
1. NumPy
2. pandas
3. Apache Spark
4. TensorFlow
5. plotly
3. matplotlib

Data Science Tools :
|Data Science Tools |
|-------------------|
|R Studio.           |
|Anaconda Navigator.  |
|Watson studio.       |

Given below are some of the examples of  arithmetic expressions in python :

In [2]:
# this is an arithmetic expression to multiply and then add integers
(3*4)+5

17

In [4]:
# This code will convert 200 minutes into hours by dividing by 60
200/60

3.3333333333333335

## Author
Sonam Chorol